In [5]:
import pandas as pd

In [6]:
df_forest= pd.read_csv('forest_area_percent.csv')

In [7]:
df_forest.sample(25)

,Country Name,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
41,China,CHN,16.738007,16.949547,17.161088,17.372628,17.584169,17.795728,18.007288,18.218830,...,21.780926,21.987224,22.193523,22.399821,22.630498,22.830707,23.030912,23.231118,23.431323,23.631528
11,Austria,AUT,45.754605,45.830308,45.906011,45.981714,46.057416,46.133119,46.208822,46.284525,...,46.902521,46.946122,46.989724,47.033325,47.076951,47.120456,47.163960,47.207465,47.250969,47.294474
121,Mauritania,MRT,0.461861,0.456583,0.451305,0.446027,0.440749,0.435471,0.430193,0.424915,...,0.345746,0.340468,0.335190,0.329912,0.324634,0.319395,0.314058,0.308819,0.303483,0.298212
112,Lithuania,LTU,NaN,NaN,31.269943,31.389598,31.509253,31.628909,31.748564,31.868220,...,34.732106,34.785800,34.853951,34.908220,34.960570,35.056912,35.095002,35.132546,35.148515,35.180749
138,Nigeria,NGA,29.124905,28.945601,28.766297,28.586992,28.407688,28.228384,28.049079,27.869775,...,25.180197,25.000892,24.821586,24.642281,24.462980,24.283683,24.104384,23.925085,23.745787,23.566488
38,Chad,TCD,5.344663,5.314724,5.284784,5.254844,5.224905,5.194965,5.165025,5.135086,...,4.188374,4.086722,3.985070,3.883418,3.787325,3.693615,3.601493,3.511753,3.425191,3.336510
182,Syrian Arab Republic,SYR,2.024595,2.057242,2.089890,2.122538,2.155186,2.187833,2.220481,2.253129,...,2.745085,2.777760,2.810434,2.843108,2.843108,2.843108,2.843108,2.843108,2.843108,2.843108
113,Luxembourg,LUX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.453827,34.453827,34.453827,34.453827,34.453827,34.453827,34.453827,34.453827,34.453827,34.453827
25,Botswana,BWA,33.179292,32.970550,32.761809,32.553068,32.344326,32.135585,31.926843,31.718102,...,28.586981,28.378240,28.169499,27.960757,27.752016,27.543275,27.334533,27.125792,26.917050,26.708309
99,Kenya,KEN,6.779597,6.797633,6.815669,6.833705,6.851741,6.869777,6.887813,6.905849,...,6.288028,6.255020,6.222012,6.189004,6.240942,6.292880,6.344818,6.344818,6.344818,6.344818
172,Spain,ESP,27.840501,28.479071,29.117640,29.756209,30.394778,31.033347,31.671917,32.310486,...,37.079778,37.082114,37.084449,37.127532,37.142869,37.152234,37.156647,37.167722,37.177305,37.172752
247,Pacific island small states,PSS,65.449570,65.902274,65.990062,66.077850,66.165639,66.253427,66.341215,66.429003,...,67.736417,67.823240,67.910062,67.996885,68.083956,68.224006,68.311146,68.398129,68.485113,68.572097
65,Faroe Islands,FRO,0.057307,0.057307,0.057307,0.057307,0.057307,0.057307,0.057307,0.057307,...,0.057307,0.057307,0.057307,0.057307,0.057307,0.057307,0.057307,0.057307,0.058565,0.058394
176,St. Martin (French part),MAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.800000,24.800000,24.800000,24.800000,24.800000,24.800000,24.800000,24.800000,24.800000,24.800000
92,Isle of Man,IMN,6.070175,6.070175,6.070175,6.070175,6.070175,6.070175,6.070175,6.070175,...,6.070175,6.070175,6.070175,6.070175,6.070175,6.070175,6.070175,6.070175,6.070175,6.070175
246,Other small states,OSS,30.977763,30.874170,31.218556,31.118759,31.125331,31.025193,30.925054,30.824916,...,29.577291,29.460660,29.361471,29.260456,29.150778,29.060598,28.943006,28.833725,28.724431,28.615118
96,Japan,JPN,68.431157,68.410861,68.390565,68.370269,68.349973,68.329676,68.328121,68.307819,...,68.469684,68.457613,68.445542,68.433471,68.422497,68.408779,68.408779,68.408779,68.408779,68.408779
153,Romania,ROU,27.778504,27.763009,27.760830,27.758651,27.750425,27.750665,27.744859,27.741472,...,28.994800,29.329114,29.658241,29.993741,30.115829,30.115829,30.115829,30.115829,30.115829,30.115829
82,Guyana,GUY,94.499111,94.479843,94.460574,94.441306,94.422037,94.402769,94.383500,94.364232,...,93.962052,93.902667,93.843282,93.783896,93.737160,93.690373,93.643637,93.596850,93.550114,93.503344
173,Sri Lanka,LKA,37.479349,37.186079,36.892808,36.599538,36.306267,36.012996,35.719726,35.426455,...,33.705948,33.786318,33.866688,34.395166,34.344110,34.293054,34.258050,34.206710,34.158099,34.107016
151,Portugal,PRT,37.147541,37.018579,36.889617,36.760656,36.631694,36.502732,36.373770,36.244809,...,35.768097,35.893159,36.023999,36.154995,36.154995,36.154995,36.154995,36.154995,36.154995,36.154995
185,Thailand,THA,37.896612,37.825559,37.754507,37.683454,37.612402,37.541349,37.470297,37.399244,...,39.280863,39.276165,39.271467,39.266770,39.180646,39.110180,39.039715,38.969250,38.898784,38.828319
174,St. Kitts and Nevis,KNA,42.307692,42.307692,42.307692,42.307692,42.307692,42.307692,42.307692,42.307692,...,42.307692,42.307692,42.307692,42.307692,42.307692,42.307692,42.307692,42.307692,42.307692,42.307692
179,Suriname,SUR,98.574551,98.550987,98.527423,98.503859,98.480295,98.456731,98.433167,98.409603,...,97.952462,97.890679,97.828897,97.767115,97.694359,97.647564,97.569103,97.490577,97.412115,97.333611
250,Small states,SST,41.839314,41.771173,41.858875,41.771143,41.799401,41.711425,41.623449,41.535473,...,40.405976,40.296885,40.207158,40.115400,40.017087,39.940279,39.832807,39.734556,39.636298,39.538013

In [8]:
# Eliminar la columna 'country_code' y las columnas desde '1990' hasta '2011'
df_forest = df_forest.drop(columns=['Country Code'] + [str(year) for year in range(1990, 2012)])

In [9]:
df_forest.head()

,Country Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782
1,Albania,28.646606,28.698558,28.750511,28.802464,28.802190,28.792062,28.791971,28.791971,28.791971,28.791971
2,Algeria,0.811675,0.814866,0.818057,0.821248,0.821248,0.815790,0.810332,0.814110,0.818309,0.822228
3,American Samoa,86.850000,86.700000,86.550000,86.400000,86.250000,86.100000,85.950000,85.800000,85.650000,85.500000
4,Andorra,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553

In [10]:
total_valores_country= df_forest["Country Name"].nunique()

In [11]:
total_valores_country

258

In [12]:
print(df_forest.columns)

Index(['Country Name', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021'],
      dtype='object')

In [13]:
print(df_forest.columns.tolist())

['Country Name', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

In [14]:
df_forest.columns.get_loc("Country Name")

0

In [15]:
df_forest.sample(50)

,Country Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
134,New Caledonia,45.887309,45.881838,45.876368,45.870897,45.865427,45.859956,45.854486,45.849015,45.843545,45.838074
174,St. Kitts and Nevis,42.307692,42.307692,42.307692,42.307692,42.307692,42.307692,42.307692,42.307692,42.307692,42.307692
218,East Asia & Pacific (IDA & IBRD countries),29.955364,29.992934,30.028836,30.065399,30.195502,30.197766,30.247480,30.297160,30.346428,30.367333
219,Euro area,38.137422,38.199410,38.281500,38.371776,38.425885,38.503770,38.560420,38.618175,38.675211,38.729971
194,Tuvalu,33.333333,33.333333,33.333333,33.333333,33.333333,33.333333,33.333333,33.333333,33.333333,33.333333
221,Europe & Central Asia (excluding high income),39.421199,39.431636,39.444105,39.446085,39.463290,39.482423,39.494572,39.506948,39.525022,39.537212
66,Fiji,59.474111,59.839518,60.204926,60.570334,60.935961,61.301587,61.667214,62.032841,62.398467,62.764094
79,Guatemala,34.228070,33.972751,33.717432,33.462113,33.353863,33.245614,33.137365,33.029115,32.920866,32.812617
0,Afghanistan,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782
164,Singapore,24.409065,24.015559,23.589845,23.231876,22.969676,22.626404,22.310924,21.997207,21.685237,21.434540
172,Spain,37.079778,37.082114,37.084449,37.127532,37.142869,37.152234,37.156647,37.167722,37.177305,37.172752
189,Trinidad and Tobago,45.138791,45.056140,44.973489,44.890838,44.808967,44.727096,44.645224,44.563353,44.481481,44.399610
149,Philippines,23.172995,23.289996,23.406996,23.523996,23.641010,23.758024,23.875004,23.992018,24.109032,24.226046
241,Middle East & North Africa (excluding high inc...,2.476460,2.478175,2.479835,2.481495,2.484260,2.487155,2.488962,2.493374,2.496967,2.501108
247,Pacific island small states,67.736417,67.823240,67.910062,67.996885,68.083956,68.224006,68.311146,68.398129,68.485113,68.572097
196,Ukraine,16.556653,16.594283,16.632775,16.670407,16.682491,16.694286,16.703486,16.713842,16.724197,16.734553
138,Nigeria,25.180197,25.000892,24.821586,24.642281,24.462980,24.283683,24.104384,23.925085,23.745787,23.566488
254,Sub-Saharan Africa (excluding high income),27.576230,27.412417,27.248614,27.084697,26.916631,26.752028,26.587527,26.418755,26.251707,26.083502
9,Aruba,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333
116,Malaysia,58.299431,58.613885,58.928340,59.242794,58.787521,58.634881,58.482240,58.329600,58.176959,58.024319
145,Panama,57.911730,57.758165,57.775580,57.621560,57.467620,57.313546,57.113373,56.959423,56.805608,56.651703
12,Azerbaijan,12.710827,12.820504,12.929709,13.039534,13.154412,13.273146,13.413930,13.553367,13.694190,13.832991
190,Tunisia,4.444452,4.454300,4.464148,4.473996,4.483844,4.493692,4.503540,4.513388,4.523236,4.533084
88,Indonesia,52.093577,51.600234,51.106892,50.613549,50.743455,50.039334,49.716818,49.394296,49.071780,48.361945
99,Kenya,6.288028,6.255020,6.222012,6.189004,6.240942,6.292880,6.344818,6.344818,6.344818,6.344818
168,Solomon Islands,90.347124,90.320972,90.294820,90.268667,90.242587,90.216506,90.190425,90.164344,90.138264,90.112183
25,Botswana,28.586981,28.378240,28.169499,27.960757,27.752016,27.543275,27.334533,27.125792,26.917050,26.708309
62,Estonia,55.909790,54.911755,55.302784,55.693812,55.699333,57.038596,57.038596,57.038596,57.038596,57.038596
192,Turkmenistan,8.782159,8.782159,8.782159,8.782159,8.782159,8.782159,8.782159,8.782159,8.782159,8.782159
152,Puerto Rico,55.515445,55.570237,55.625028,55.679820,55.735062,55.790304,55.845547,55.900789,55.956032,56.011274
234,Latin America & Caribbean (excluding high income),48.163491,48.007436,47.845394,47.682603,47.517733,47.324981,47.193887,47.053170,46.915726,46.774734
5,Angola,56.988751,56.543526,56.098301,55.653076,55.207845,54.762629,54.317406,53.872175,53.426951,52.981722
59,El Salvador,29.916988,29.699807,29.482625,29.265444,29.048263,28.831081,28.613900,28.396718,28.179537,27.962355
48,Croatia,34.322064,34.329212,34.336359,34.343507,34.381392,34.515195,34.559896,34.604567,34.651716,34.696390
182,Syrian Arab Republic,2.745085,2.777760,2.810434,2.843108,2.843108,2.843108,2.843108,2.843108,2.843108,2.843108
104,Kyrgyz Republic,6.457414,6.480490,6.503566,6.526642,6.549739,6.572806,6.667883,6.762982,6.858081,6.953180
77,Grenada,52.058824,52.058824,52.058824,52.058824,52.058824,52.058824,52.058824,52.058824,52.058824,52.058824
213,Caribbean small states,90.387264,90.313835,90.240405,90.166975,90.097048,90.037125,89.965024,89.892825,89.820724,89.748557
42,Colombia,54.563802,54.442462,54.321123,54.199784,54.041902,53.843867,53.664245,53.484633,53.305011,53.125396
49,Cuba,28.437210,29.583573,30.124976,30.585975,31.151480,31.233141,31.233141,31.233141,31.233141,31.233141
85,Hungary,22.668309,22.700188,22.550230,22.581854,22.558952,22.542954,22.528161,22.512273,22.496274,22.480350
173,Sri Lanka,33.705948,33.786318,33.866688,34.395166,34.344110,34.293054,34.258050,34.206710,34.158099,34.107016
230,IDA only,26.080960,25.908821,25.738063,25.566716,25.394202,25.225417,25.057583,24.886197,24.716839,24.546107
188,Tonga,12.430556,12.430556,12.430556,12.430556,12.430556,12.430556,12.430556,12.430556,12.430556,12.430556
105,Lao PDR,73.100087,72.950607,72.801127,72.651646,72.502166,72.352686,72.203206,72.053726,71.904246,71.754766
167,Slovenia,61.918921,61.946375,61.956306,61.958238,61.859299,61.769978,61.674381,61.573072,61.472259,61.371114
140,Northern Mariana Islands,65.191304,64.830435,64.469565,64.108696,52.956522,52.956522,52.956522,52.956522,52.956522,52.956522
20,Benin,31.351100,30.907680,30.464260,30.020841,29.577421,29.134001,28.690582,28.247162,27.803742,27.360323
72,Georgia,40.615916,40.615916,40.615916,40.615916,40.615916,40.615916,40.615916,40.615916,40.615916,40.615916
121,Mauritania,0.345746,0.340468,0.335190,0.329912,0.324634,0.319395,0.314058,0.308819,0.303483,0.298212

In [16]:
df_forest['Country Name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Fed. Sts.', 'Moldova', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Romania', 'Russian Federation',
       'Rwanda', 'Samoa', 'San Marino', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Sint Maarten (Dutch part)', 'Slovak Republic',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Martin (French part)',
       'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkiye', 'Turkmenistan', 'Turks and Caicos Islands',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela, RB', 'Viet Nam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe',
       'Africa Eastern and Southern', 'Africa Western and Central',
       'Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World'], dtype=object)

In [17]:
nulos_por_columna = df_forest.isnull().sum()
print("Nulos por columna:")
print(nulos_por_columna)

Nulos por columna:
Country Name    0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2020            0
2021            0
dtype: int64

In [18]:
duplicados_por_columna = df_forest.apply(lambda col: col.duplicated().sum())
print("\nDuplicados por columna:")
print(duplicados_por_columna)

Duplicados por columna:
Country Name    0
2012            2
2013            2
2014            2
2015            2
2016            2
2017            2
2018            2
2019            2
2020            2
2021            2
dtype: int64

In [19]:
df_ordenado = df_forest.sort_values(by="Country Name", ascending=True)

In [20]:
df_ordenado.head(30)

,Country Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782
210,Africa Eastern and Southern,31.890654,31.680635,31.470634,31.260420,31.039682,30.824316,30.611512,30.391626,30.174253,29.955194
211,Africa Western and Central,20.498099,20.410143,20.322187,20.234231,20.152610,20.071327,19.986100,19.901215,19.816777,19.732037
1,Albania,28.646606,28.698558,28.750511,28.802464,28.802190,28.792062,28.791971,28.791971,28.791971,28.791971
2,Algeria,0.811675,0.814866,0.818057,0.821248,0.821248,0.815790,0.810332,0.814110,0.818309,0.822228
3,American Samoa,86.850000,86.700000,86.550000,86.400000,86.250000,86.100000,85.950000,85.800000,85.650000,85.500000
4,Andorra,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553
5,Angola,56.988751,56.543526,56.098301,55.653076,55.207845,54.762629,54.317406,53.872175,53.426951,52.981722
6,Antigua and Barbuda,19.654545,19.504545,19.354545,19.204545,19.045455,18.909091,18.750000,18.590909,18.454545,18.302955
212,Arab World,2.956405,2.937937,2.919452,2.900938,2.883323,2.863943,2.844420,2.826621,2.808895,2.791121
7,Argentina,10.877081,10.795450,10.713819,10.632187,10.600397,10.559837,10.520373,10.480179,10.440715,10.400764
8,Armenia,11.596207,11.588901,11.581595,11.574289,11.566913,11.559536,11.552160,11.544784,11.537408,11.530032
9,Aruba,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333
10,Australia,17.047689,17.140067,17.232446,17.324825,17.425488,17.422914,17.421315,17.421315,17.421315,17.421315
11,Austria,46.902521,46.946122,46.989724,47.033325,47.076951,47.120456,47.163960,47.207465,47.250969,47.294474
12,Azerbaijan,12.710827,12.820504,12.929709,13.039534,13.154412,13.273146,13.413930,13.553367,13.694190,13.832991
13,"Bahamas, The",50.935065,50.935065,50.935065,50.935065,50.935065,50.935065,50.935065,50.935065,50.935065,50.935065
14,Bahrain,0.716883,0.737662,0.757458,0.771208,0.795892,0.820513,0.848329,0.871795,0.891720,0.911392
15,Bangladesh,14.491551,14.483958,14.476365,14.468772,14.468772,14.468772,14.468772,14.468772,14.468772,14.468772
16,Barbados,14.651163,14.651163,14.651163,14.651163,14.651163,14.651163,14.651163,14.651163,14.651163,14.651163
17,Belarus,42.540377,42.541940,42.531765,42.534166,42.906970,42.978403,43.051532,43.126155,43.194403,43.272235
18,Belgium,22.775495,22.771731,22.767966,22.764201,22.764201,22.764201,22.764201,22.764201,22.764201,22.764201
19,Belize,59.972205,59.458746,58.945287,58.431828,57.943007,57.453748,56.964928,56.475669,55.986409,55.497150
20,Benin,31.351100,30.907680,30.464260,30.020841,29.577421,29.134001,28.690582,28.247162,27.803742,27.360323
21,Bermuda,18.518519,18.518519,18.518519,18.518519,18.518519,18.518519,18.518519,18.518519,18.518519,18.518519
22,Bhutan,71.077105,71.128998,71.180890,71.232783,71.234270,71.286179,71.345569,71.397483,71.449397,71.501311
23,Bolivia,48.613029,48.417554,48.222079,48.026604,47.771328,47.532743,47.312139,47.109536,46.924915,46.728305
24,Bosnia and Herzegovina,41.519453,41.745391,41.971328,42.197266,42.509961,42.732617,42.732617,42.732617,42.732617,42.732617
25,Botswana,28.586981,28.378240,28.169499,27.960757,27.752016,27.543275,27.334533,27.125792,26.917050,26.708309
26,Brazil,60.839175,60.655021,60.470868,60.286715,60.071033,59.832881,59.708428,59.558526,59.417478,59.270528

In [21]:
df_forest.to_csv("Forest_percent.csv", index=False)

In [22]:
import pandas as pd

In [23]:
df_forest_pbi = df_ordenado.melt(id_vars=["Country Name"], var_name="Año", value_name="Porcentaje_Forestal")

In [24]:
df_forest_pbi

                     Country Name   Año  Porcentaje_Forestal
0                     Afghanistan  2012             1.852782
1     Africa Eastern and Southern  2012            31.890654
2      Africa Western and Central  2012            20.498099
3                         Albania  2012            28.646606
4                         Algeria  2012             0.811675
...                           ...   ...                  ...
2575           West Bank and Gaza  2021             1.682988
2576                        World  2021            31.177049
2577                  Yemen, Rep.  2021             1.039832
2578                       Zambia  2021            60.030150
2579                     Zimbabwe  2021            44.974822

[2580 rows x 3 columns]

In [ ]:
df_forest_pbi.

In [25]:
df_forest_pbi.to_csv("Forest_percent_pbi.csv", index=False)